<h1> {{ title}}</h1>

<!-- ngIf directive task1 -->
  <!-- eventbinding -->
  <!-- when we click then clickIt method will be called -->
<button (click)="clickIt()">Click</button>

  <!-- if we click the button then a paragraph will show that you clicked it -->
<p *ngIf="clickedOrNot == true"> You clicked it </p>

<p *ngIf="clickedOrNot == false"> You have not clicked it </p>


<!-- ngIf directive task2 -->
<h2> Choose one</h2>
<input type="checkbox" (click)="maleClick()">
<label> Male</label><br>
<input type="checkbox" (click)="femaleClick()">
<label> Female</label><br>

<p *ngIf="maleChecked==true">Male is chosen</p>
<p *ngIf="femaleChecked==true">Female is chosen</p>

<!-- ngFor task1 -->
<h3>List of books using ngFor</h3>
<p *ngFor="let book of books"><b>{{book}}</b></p>

<!-- ngFor task2 -->

<!-- Both ngIf and ngFor is combined here -->


<h2>List of Students using ngFor</h2>

<table *ngIf="isVisible==true">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
    <tr *ngFor="let detail of details">
      <td>{{detail.name}}</td>
      <td>{{detail.age}}</td>
      <td>{{detail.gender}}</td>
    </tr>
  </tbody>
</table>

<button (click)="hideList()">
  Click to Hide List
</button>